meta 
{
    title: "Africa";
    description: "Highlight features relevant to rural Africa for MissingMaps campaigns. Details see https://github.com/bjohas/JOSM-MapCSS-styles.";
    version: "1";
    author: "bjohas, http://bjohas.de";
    link: "";
}

/*
https://josm.openstreetmap.de/wiki/Help/Styles/MapCSSImplementation
*/

way[highway] {
    text-position: line;
    text: concat("[",tag(highway),"]");
}

way[highway=residential] {
	width: 3;
	dashes: none;
	color: #ffaaff;
	opacity: 1.0;
}

way[highway=path] {
	width: 3;
	color: blue;
	casing-width: 3;
	casing-color: white;
	casing-opacity: 0.3;
}

way[highway=track] {
	width: 3;
	color: green;
	dashes: none;
	casing-width: 3;
	casing-color: white;
	casing-opacity: 0.3;
}

way[highway][!surface] {
    text-halo-color: pink;
    text-halo-radius: 8;
    text-halo-opacity: 0.8;
    text: concat("[",tag(highway),"] NO SURFACE");
}

way[highway][surface=paved] {
    text-halo-color: grey;
}

way[highway][surface=unpaved] {
    text-halo-color: lightblue;
}


area[landuse=residential] {
	width: 3;
	color: blue;
}
/* z-18 */
area|z-14[landuse=residential]  {
	fill-color: blue;
	fill-opacity: 0.3;
	fill-extent: 50;
}
